%button {
  background-color: $base-button-color;
  border-radius: $base-border-radius;
  color: #fff;
  display: inline-block;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;

  &:hover {
    background-color: $hover-button-color;
    color: #fff;
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    opacity: .5;
    pointer-events: none;
  }
}

.btn {
  @extend %button;
  @include appearance(none);
  border: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
